exclude:
  - .github
  - .gitignore
  - circle.yml
  - README.md
  - doc-templates

liquid:
  error_mode: strict

markdown: redcarpet
markdown_ext: markdown,mkdown,mkdn,mkd,md

redcarpet:
  extensions: ["tables", "autolink", "strikethrough", "space_after_headers", "with_toc_data", "fenced_code_blocks"]

url: https://developers.cloud-elements.com

gems:
  - jekyll-redirect-from
  - jekyll-youtube
  - algoliasearch-jekyll

algolia:
  application_id: 'G8W6UO94HX'
  index_name:     'developer_portal_pages'
  settings:
    attributesToIndex:
      - title
      - heading
      - seo
      - description
      - h1
      - h2
      - h3
      - h4
      - h5
      - h6
      - unordered(text)
      - unordered(tags)
    attributesToSnippet: ['text:20']
    attributesToHighlight: 
      - 'text'
