<!-- Engagio Tracking Script -->
<script type=“text/javascript” charset=“utf-8 ">
var _eiq = _eiq || [];
var _engagio_settings = {
accountId: “572b5582906e828baac61d212c133b568b913200”
};
(function() {
var ei = document.createElement(‘script’); ei.type = ‘text/javascript’; ei.async = true;
ei.src = (‘https:’ == document.location.protocol ? ‘https://’ : ‘http://’) + ‘web-analytics.engagio.com/js/ei.js’;
var s = document.getElementsByTagName(‘script’)[0]; s.parentNode.insertBefore(ei, s);
})();
</script>