<!-- Footer -->
<div class="navbar navbar-default footer-navbar" role="navigation">
  <div class="footer-wrapper container">
    <div class="footer-content">
      <ul class="col-md-3">
        <li><a href="http://cloud-elements.com/about/" target="_blank">About</a></li>
        <li><a href="http://resources.cloud-elements.com/" target="_blank">Resources</a></li>
        <li><a href="http://cloud-elements.com/contact/" target="_blank">Contact Us</a></li>
        <li><a href="http://cloud-elements.com/our-team/" target="_blank">Our Team</a></li>
        <li><a href="https://console.cloud-elements.com/elements/jsp/login.jsp" target="_blank">Sign In</a></li>
      </ul>
      <ul class="col-md-3">
        <li><a href="http://cloud-elements.com/in-the-news/" target="_blank">In The News</a></li>
        <li><a href="http://cloud-elements.com/press-releases/" target="_blank">Press Releases</a></li>
        <li ><a href="http://cloud-elements.com/photo-261-2/" target="_blank">Events</a></li>
        <li ><a href="http://cloud-elements.com/careers/" target="_blank">Careers</a></li>
        <li><a href="http://status.cloud-elements.com/" target="_blank">Status</a></li>
      </ul>
      <ul class="col-md-3">
        <li><a href="http://support.cloud-elements.com/home" target="_blank">Support</a></li>
        <li><a href="http://cloud-elements.com/privacy/" target="_blank">Privacy Policy</a></li>
        <li><a href="http://cloud-elements.com/terms-conditions-use/" target="_blank">Website Terms and Conditions of Use</a></li>
        <li><a href="http://cloud-elements.com/sitemap/" target="_blank">Sitemap</a></li>
        <li><a href="http://changelog.cloud-elements.com/" target="_blank">Change Log</a></li>
      </ul>
      <div class="col-md-3">
        <section>
          <div class="social">
            <a href="https://www.facebook.com/CloudElements" rel="nofollow" target="_blank" alt="Follow Us on facebook" title="Follow Us on facebook">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="https://plus.google.com/107587003801753392859/posts" rel="nofollow" target="_blank" alt="Follow Us on googleplus" title="Follow Us on googleplus">
              <i class="fa fa-google-plus"></i>
            </a>
            <a href="http://www.linkedin.com/company/cloud-elements" rel="nofollow" target="_blank" alt="Follow Us on linkedin" title="Follow Us on linkedin">
              <i class="fa fa-linkedin"></i>
            </a>
            <a href="https://twitter.com/CloudElements" rel="nofollow" target="_blank" alt="Follow Us on twitter" title="Follow Us on twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="http://vimeo.com/channels/cloudelements" rel="nofollow" target="_blank" alt="Follow Us on vimeo" title="Follow Us on vimeo">
              <i class="fa fa-vimeo"></i>
            </a>
          </div>
        </section>
        <section>
          <p>Questions? Email us at info@cloud-elements.com or call +1.866.830.3456.</p>
        </section>
      </div>
    </div>
  </div>
  <div class="sub-footer">
    <div class="navbar-text container">
      <p>© Copyright 2016 Cloud Elements Inc. All rights reserved. Various trademarks held by their respective owners. | 3001 Brighton Blvd. Suite #642, Denver, CO 80216 United States</p>
    </div>
  </div>
</div>  <script src="/assets/js/jquery.min.js"></script>
<!-- END Footer -->
