{% assign overviewshard = site.shards['docs_overview'] | sort:"order" %}
<div class="sidebarWrapper">
  <h4> Getting Started </h3>
    <ul>
      {% for i in overviewshard %}
        {% if i.url == page.url %}
          <li>
            <div class="activeMenuItem"> <a href={{i.url}}> {{i.title}} </a> </div>
          </li>
        {% else %}
          <li>
            <a href={{i.url}}> {{i.title}} </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  <h4> Feature Reference </h3>
    <ul>
      {% for folder in site.shards %}
        {% assign key = folder[0] %}
        {% if key contains "docs_guides" and key != "docs_guides" and key != "" %}
        {% assign pages = site.shards[key] | sort:"order" %}
        <li>
          <a href={{pages[0].url}}> {{pages[0].heading}}</a>
            {% if key == id %}
            <ul>
              {% for p in pages %}
              <li>
                {% if page.url == p.url %}
                  <div class="activeMenuItem" > <a href="{{p.url}}?resource={{p.platform}}" > {{p.title}} </a> </div>
                {% else %}
                  <a href="{{p.url}}?resource={{p.platform}}" > {{p.title}}</a>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endif %}
      {% endfor %}
    </ul>

    <h4> Cloud Elements API </h3>
    <ul>
      {% for folder in site.shards %}
        {% assign key = folder[0] %}
        {% if key contains "platform_api" %}
        {% assign pages = site.shards[key] | sort:"order" %}
        <li>
          <a href={{pages[0].url}}> {{pages[0].heading}} </a>
            {% if key == id %}
            <ul>
              {% for p in pages %}
              <li>
                {% if page.url == p.url %}
                  <div class="activeMenuItem" > <a href="{{p.url}}?resource={{p.platform}}" > {{p.title}} </a> </div>
                {% else %}
                  <a href="{{p.url}}?resource={{p.platform}}" > {{p.title}} </a>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endif %}
      {% endfor %}
    </ul>
</div>