<link href="/assets/css/sidebar.css" rel="stylesheet">
<script type="text/javascript">
  let currentSelection="";
  // Initialize the expanded menu
  function setCurrentSelection(selection){
    currentSelection = selection;
    document.getElementById(selection).className = "accordionListActive";
  }
  // Accordion List toggle
  function selectAccordion(selection) {
    if(currentSelection != ""){
      document.getElementById(currentSelection).className = "accordionList";
    }
    document.getElementById(selection).className = "accordionListActive";
    currentSelection = selection;
  }
</script>
<div class="sidebarWrapper" id="sidebarWrapper">
</div>
<!-- This section loads in the accordion menu from the sitemap.html file
     Its too expensive to build the site map for each page in the portal -->
<script>
  $(window).on('load',(e) => {
    $("#sidebarWrapper").load("/docs/sitemap.html", () =>{
      let pathWithQuery = `${window.location.pathname}${window.location.search}`;
      // Wrap the active href in a div to set blue highlighting
      $(`a[href='${pathWithQuery}']`).wrap("<div class=\"activeMenuItem\"></div>");
      // Expand the current high level accordion
      let highLevelId = $(`a[href*='${pathWithQuery}']`).closest(`[class*='accordionList']`).attr("id");
      if(highLevelId) setCurrentSelection(highLevelId);
      // Expand the lower level heading
      let currentSelection = $(`a[href*='${pathWithQuery}']`).closest('ul').find('.subItem');
      if(currentSelection) currentSelection.attr('class', 'subItemActive');
      // Create a click listener for sub items
      $(".subHeading").click(function() {
        let selection = $(this).parent().find(".subItem");
        selection.attr('class', 'subItemActive');
        if(currentSelection) currentSelection.attr('class', 'subItem');
        currentSelection = selection;
      })
    });
  });
</script>
