<div id="userMap">
<div class="content"><a class="map" href="define-info.html"><div class="box box1">Define Element</div></a></div>
<div class="arrow">→</div>
<div class="content"><a class="map" href="config.html"><div class="box box2">Define Configuration Requirements</div></a></div>
<div class="arrow">→</div>
<div class="content"><a class="map" href="instance.html"><div class="box box3">Set Up Element Instance</div></a></div>
<div class="arrow">→</div>
<div class="content"><a class="map" href="resources.html"><div class="box box4">Define Resources</div></a></div>
<div class="arrow">→</div>
<div class="content"><a class="map" href="models.html"><div class="box box5">Define Models</div></a></div>
<div class="clearfix"></div>
</div>
