
/*///////////////////////////////
///    Custom CSS for Index   ///
///////////////////////////////*/

body.with-top-navbar{
  padding-bottom: 0;
  padding-top: 130px;
  background-color: #fff;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

}
.background-white {
  background-color: #fff;
}

a {
  color: #40b6e4;
}

/*///////////////////////////////
///    Custom CSS for Nav     ///
///////////////////////////////*/


#logo {
  margin-left: 0;
  padding: 0;
  /*margin-top: -15px;*/
  width: 87%;
}
#logo img{
  padding-left: 27px;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  background: #fff;
}
.nav {
  color: #fff;
  height: 90px;
  float: right;
  font-weight: bold;
  margin: 0;
  width: 100%;
}
.nav.navbar-fixed-top{
  box-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 3px;
}
.nav .navbar-nav{
  padding: 1.5em 0;
}

.navbar-default .navbar-brand-emphasized,
.navbar-default .navbar-brand-emphasized:hover,
.navbar-default .navbar-brand-emphasized:focus {
  background-color: #fff;
}
.nav > .navbar-wraper{
  padding: 0;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 3px;
}
.container-fluid > .navbar-header {
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  width: 350px;
}
.nav .filler{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;}
.nav .navbar-collapse{
  width: auto;
}
.navbar-brand > img{
  max-width: 280px;
  width: 100%;
}

.navbar-default {
    border-color: #fff;
}
.nav > li > a{
  padding: 7px 0 5px 0;
  margin: 0 25px;
}
.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    font-weight: bold;
    color: #000;
    border-bottom: 2px solid #40b4e5;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
    background: #fff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    font-weight: bold;
    text-decoration: underline;
    float: right;
    background-color: #fff;
}

.nav.navbar-light .navbar-nav > li > a {
  color: #000;
}

.navbar-default .navbar-nav > li > a .active{
  color: #000;
}

hr {
  height: .25rem;
  width: 25%;
  margin: 0;
  background: #40b4e5;
  border: none;
  transition: .3s ease-in-out;
}

.try-it {
  margin: 0 35px 0 25px;
  font-family: "Open Sans", sans-serif;
  font-size: 97%;
  font-weight: 700;
  width: 160px;
  text-align: left;
  background-color: #ff4e4e;
  padding-left: 15px;
  padding-right: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
  -webkit-transition: all 200ms ease-in; */
  transition: all 200ms ease-in;
  position: relative;
}
.try-it:hover{
  background-color: #ff4e4e;
  padding-left: 27px;
}
.try-it i{
  position: absolute;
  right: 10px;
  top: 14px;
  font-size: 18px;
}
.navbar-light .navbar-toggle {
    border-color: #333333;
    margin-top: 30px;
}

.navbar-light .navbar-toggle .icon-bar {
    background-color: #222;
}

.navbar-light .navbar-toggle:hover, .navbar-light .navbar-toggle:focus {
    background-color: #333333;
}

.navbar-light .navbar-toggle:hover .icon-bar, .navbar-light .navbar-toggle:focus  .icon-bar{
    background-color: #ffffff;
}

.search-bar-wrapper{
  height: 40px;
  background: linear-gradient(#333, #111) repeat scroll 0 0 rgba(0, 0, 0, 0);
  padding: 0px 10px;
}
.search-bar-wrapper{
  height: 40px;
  background: linear-gradient(#333, #111) repeat scroll 0 0 rgba(0, 0, 0, 0);
  padding: 0px 10px;
}
.search-bar-wrapper .flextable{
  width: 400px;
  float: right;
  margin-right: 25px;
}
.search-bar-wrapper .flextable .flextable-item .form-control{
  width: 200px;
  float: right;
  display: block;
  height: 30px;
  padding: 3px 6px;
  font-size: 12px;
  line-height: 1.5em;
  color: #ffffff;
  background-color: #555555;
  background-image: none;
  border: none;
  outline: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  margin-top: 5px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-radius: 4px 0 0 4px;
}

.search-bar-wrapper .flextable .flextable-item.icon{
  position: relative;
}
.search-bar-wrapper .flextable .flextable-item.icon span{
  position: absolute;
  width: 25px;
  display: block;
  background-color: #555;
  text-align: center;
  position: absolute;
  top: 5px;
  bottom: 0;
  line-height: 2em;
  border-radius: 0 4px 4px 0;
  color: #aaa;
}

.search-bar-wrapper .flextable .flextable-item .form-control:focus{
  width: 100%;
  border-radius: 4px 0 0 4px;
}
.search-bar-wrapper .flextable .btn.btn-default{
  height: 30px;
  margin-top: 5px;
  line-height: 1em;
}
/*///////////////////////////////
///  Custom CSS for Jumbotron ///
///////////////////////////////*/

.jumbotron {
  margin-bottom: 0;
  height: inherit;
  background-image: url(/assets/img/jumbo.png);
  background-size: cover;
}

.title h2{
  color: #F2F2F2;
  font-weight: bold;
  font-size: 35px;
}
.title h2 span{
  color: #40b6e4;
}

.jumbotron p{
  color: #ffffff;
  margin: 10px 0;
}
.results-container-wrapper{
  position: relative;
}
#results-container{
  position: absolute;
  width: 100%;
  z-index: 200;
  padding: 0;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,.5);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,.5);
  margin: 5px 0 0 0;
  left: 0;
  right: 0;
  display: block;
  border-radius: 4px;
}
#results-container .results, #results-container .noresults{
  list-style: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
#results-container .results{
  border-left: 1px solid #d5d5d5;
  border-right: 1px solid #d5d5d5;
  background-color: #fff;
}
#results-container .results:first-child{
  border-top: 1px solid #d5d5d5;
  border-radius: 4px 4px 0 0;
}
#results-container .results:last-child{
  border-bottom: 1px solid #d5d5d5;
  border-radius: 0 0 4px 4px;
}
#results-container .noresults{
  padding: 5px;
  border: 1px solid #d5d5d5;
  background-color: #fff;
  border-radius: 4px;
}
#results-container .results a{
  color: #555555;
  text-decoration: none;
  display: block;
  text-align: left;
  padding: 5px 10px;
  font-weight: bold;
}
#results-container .noresults a{
  color: #555555;
  font-weight: bold;
}

#results-container .results a span{
  font-weight: normal;
}
#results-container .results a:hover{
  background-color: #f2f2f2;
  color: #40b6e4;
}

/*//////////////////////////////////////
/// Custom Styles for Search Results ///
//////////////////////////////////////*/

.search-result {

}

.search-result a {
  text-decoration: none;
}

.search-description {
  color: #555555;
  font-size: 0.750em;
}

.error-message {
  color: #555555;
  font-size: 1.50em;
}

/*///////////////////////////////
///     Icon Boxes Style      ///
///////////////////////////////*/

.icon-box-home {
    display: block;
    border: 1px solid #40b6e4;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    color: #555555;
    min-height: 249px;
}

.icon-box-home img {
  width: 125px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
}

.icon-box-home:hover {
  background-color: #f5f5f5;
  text-decoration: none;
}

.icon-box-home:hover a {
  text-decoration: none !important;
}

.icon-box-home:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: transform 1s;
  -webkit-transition: transform 1s;
  -ms-transition: transform 1s;
}

.icon-box-home h3 {
  color: #40b6e4;
}

/*///////////////////////////////
///   Element Catalog Style   ///
///////////////////////////////*/

.element-column > a {
    display: block;
    border: 1px solid #f2f2f2;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    color: #40b6e4;
    margin-bottom: 10px;
    /*max-width: 200px;*/
    /*margin: 0 0 10px 70px;*/
}

.element-column > a img {
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.5s;
}

.element-column > a:hover {
  background-color: #f5f5f5;
  text-decoration: none !important;
}

.element-column > a:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: transform 1s;
}

/*///////////////////////////////
///   API Toolkit Styling     ///
///////////////////////////////*/

.api-toolkit-icon {
    display: block;
    border: 1px solid #40b6e4;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    color: #555555;
    min-height: 249px;
}

.api-toolkit-icon img {
  width: 125px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
}

.api-toolkit-icon:hover {
  background-color: #f5f5f5;
  text-decoration: none;
}

.api-toolkit-icon:hover a {
  text-decoration: none !important;
}

.api-toolkit-icon:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: transform 1s;
  -webkit-transition: transform 1s;
  -ms-transition: transform 1s;
}

.api-toolkit-icon h3 {
  color: #40b6e4;
}


/*///////////////////////////////
/// Custom Styles for Docs CSS///
///////////////////////////////*/

.docs-header {
  background-color: #252525;
  background-image: none;
  padding: 0;
  /*To be consistant with the other page style*/
  height: inherit;
  background-image: url(/assets/img/jumbo.png);
  background-size: cover;
}
.docs-header .container{
  padding: 30px 0;
}
.docs-header a{
  font-size: 0.6em;
}
.docs-header p {
  color: #f2f2f2;
  font-size: 0.875em;
  padding: 0 !important;
  margin: 10px 0;
}

.docs-header h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .04em;
}

.docs-content {
  padding-bottom: 100px;
}
.docs-top:hover, #markdown-toc a:hover{
  color: #3bb6e5;
}

.docs-top:hover, #markdown-toc a:hover {
    color: #1c5065;
}

/* API Docs button ul and supported elements breadcrumb*/

.apidocs-button {
  text-decoration: none;
  /*background-color: #ff4e4e;*/
}

/* Set the fixed height of the footer here */
.footer-navbar{
  background-color: #1a1a1a;
  margin: 0;
  border: none;
}
.footer-wrapper{
  padding: 35px 0;
}

.sub-footer{
  background-color: #202020;
}

.sub-footer .navbar-text, .footer-wrapper .footer-content{
  display: block;
  margin: 0 auto;
  float: none;
}

/* Swagger Overwrite */
#swagger-ui-container .container{
  width: 100%;
}
#swagger-ui-container .container #resources .heading,
#swagger-ui-container .container #resources .endpoint,
#swagger-ui-container .container #resources .endpoint .operations .operation{
  clear: inherit;
}
/*///////////////////////////////
///       Footer Styles       ///
///////////////////////////////*/

.footer-wrapper .footer-content li{
  list-style: none;
}
.footer-wrapper .footer-content li a{
  display: block;
  color: #999999;
  padding: 5px 0;
  text-decoration: none;
  font-size: 12px;
}
.footer-wrapper .footer-content li a:hover{
  color: #00b8dd;
}
.footer-wrapper .footer-content p{
  color: #999999;
  font-size: 12px;
}
.sub-footer .navbar-text p{
  letter-spacing: 1px;
  color: #ffffff;
  font-size: 9px;
  padding: 15px;
  text-align: center;
}
.footer-wrapper .social{
  margin-bottom: 40px;
}
.footer-wrapper .social a{
  color: #828282;
  text-decoration: none;
  position: relative;
  display: inline-block;
  margin: 5px 15px 5px 0;
  line-height: 100%;
  filter: alpha(opacity=@opacity * 100);
  -moz-opacity: 50;
  -khtml-opacity: 50;
  opacity: 50;
  opacity: .5;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
.footer-wrapper .social a:hover{
  color: #00b8dd;
}

/*///////////////////////////////
/// Media Quieries for Index  ///
///////////////////////////////*/

/*	Tablet
*/

@media (max-width: 992px) {
  .nav > .navbar-wraper{
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-height: 90px;
    box-shadow: none;
  }
  .container-fluid > .navbar-header {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: inherit;
    height: 90px;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 3px;
  }
  #logo {
    height: initial;
    padding: 0;
    margin-left: 0;
    width: 50%;
  }
  .navbar-brand > img{
    margin: 0;
    padding: 0;
  }
  .navbar-header{
    height: 90px;
  }
  .navbar-collapse{
    padding: 0;
    margin-top: 2px;
  }
  .nav{
    width: 100%;
    padding: 0;
    margin: 0;
    height: inherit;
  }
  .nav.navbar-fixed-top{
    box-shadow: none;
  }
  .nav .navbar-nav{
    padding: 0;
  }
  .nav > li > a {
    padding: 15px;
    margin: 0;
  }
  .try-it{
    margin: 10px;
  }
}

@media (min-width: 480px) and (max-width: 991px) {
}

/*	Mobile
*/

@media (max-width: 768px) {

}
@media (max-width : 690px) {
}
