@import './masterStyles.css';
.searchBoxContainer {
  display: flex;
  align-items: center;
  color: #000;
}

.searchBoxWrapper{
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #222222;
}

.searchBox {
  width:100%;
  border: none;
  outline: none;
  color: #000;
}

.icon-magnifying-glass {
  color: #222222;
}

.searchResultsContainer {
  position: absolute;
  top: 92px;
  z-index: 1000;
  width: 100%;
  background: hsla(0,0%,100%,.8);
  color: #000;
  margin: 0px;
  height: 0vh;
  visibility: hidden;
}

.searchResultsContainerActive {
  position: absolute;
  top: 92px;
  z-index: 1000;
  width: 100%;
  background: hsla(0,0%,100%,.8);
  color: #000;
  margin: 0px;
  height: 100vh;
  visibility: visible;
  overflow: scroll;
}

.resultsWrapper {
  overflow: scroll;
  background: #fff;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.07), 0 7px 17px 0 rgba(0,0,0,.1);
  z-index:1001;
  min-height: 15vh;
  font-weight: normal;
  max-height: 80vh;
  padding: 0px;
}
.resultsItem {
  list-style: none;
  border-bottom: 1px solid #dcdcdc;
  padding: 10px 30px;
}

.resultsItem:hover {
  background: rgba(110, 198, 235, 0.3)
}

.resultsItem a {
  text-decoration: underline;
}

#resultsList {
  padding: 0px;
}

.algolia__result-highlight {
  font-weight: bold;
}

.nav {
  background: #102430;
}

.navbar-wraper {
  background: transparent;
}

.navbar-header {
  background: transparent !important;
  padding: 10px !important;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.navbar-nav > li > a {
  color: #FFF;
  height: 100%;
}

#logo {
  height: 100%;
  padding: 5px 30px;
  width: 100%;
}

#logo a {
  height: 100%;
  padding: 0px !important;
  width: 100%;
}

#logo img {
  height: 100%;
  width: auto;
  padding: 0px;
}