.sidebar{
  background: #f3f3f4;
  padding: 30px 40px;
  padding: 0px;
  overflow-y: scroll;
}

.sidebarWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.activeAccordionLink {
  color: #3bb6e5 !important;
  padding-left: 5px;
  border-left: 2px solid #3bb6e5;
}

.activeMenuItem a {
  color: #3bb6e5;
}

.sidebarWrapper ul {
  list-style: none;
  padding: 0;
  margin: 0px 10px;
  padding-left: 25px;
  padding-top: 5px;  
}

.accordionListActive ul {
  padding: 0px;
}

.accordionListActive li {
  padding: 5px 0px;
}

.subItem {
  padding: 0px !important;
}

@keyframes expand {
  from: {opacity:0; max-height: 0px}
  to: {opacity:0; max-height: 600px}
}

.accordionList {
  max-height: 0px;
  /*transform: scaleY(0);*/
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;
}

.accordionListActive {
  transition: all 0.3s ease-in;
  /*transform: scaleY(1);*/
  max-height: 800px;
  opacity: 1s;
}

.accordionListActive a:hover{
  color: #40b4e5;
}

.headerButton {
  text-align: left;
  font-size: 1.6rem;
  display: block;
  color:#19536E;
  background-color: rgba(1,1,1,0);
  border: none;
  outline: none;
  border-bottom: 1px solid #dcdcdc;
  padding: 15px;
  padding-left: 25px;
}

.accordionListActive a {
  color: #9198aa;
}

.activeHeaderButton {
  text-align: left;
  font-size: 1.6rem;
  display: block;
  color:#19536E;
  background-color: #fff;
  border-left: 2px solid #3bb6e5;
  outline: none;
}

.headerButton:hover {
  color: #40b4e5;
}

.contentWrapper {
  padding: 30px 20px;
  min-height: calc(100vh - 90px);
  overflow-y: scroll;
}

.pageContainer {
  display: flex;
  height: calc(100vh - 90px);
  overflow: hidden;
}

.subHeading{
  text-align: left;
  display: block;
  color:#19536E;
  background-color: rgba(1,1,1,0);
  border: none;
  outline: none;
  padding: 1px 5px;
}

.subHeading:hover {
  color: #40b4e5;
}

.subItem{
  max-height: 0px;
  /*transform: scaleY(0);*/
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;
}

.subItemActive{
  transition: all 0.3s ease-in;
  /*transform: scaleY(1);*/
  max-height: 50px;
  opacity: 1s;
}