.sidebarWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.sidebar a {
  color: #9198aa;
}

.activeMenuItem a {
  color: #3bb6e5;
  border-left: 2px solid #3bb6e5;
  padding-left: 5px;
  margin-bottom: 10px;
}

.sidebarWrapper ul {
  list-style: none;
  padding: 0;
  margin: 5px 10px;
}