<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <title>Documentation</title>
  <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
  <link href="/assets/css/toolkit-inverse.css" rel="stylesheet">
  <link href="/assets/css/docs.css" rel="stylesheet">
  <link href="/assets/css/application.css" rel="stylesheet">
  <link href="/assets/css/custom-styles.css" rel="stylesheet">
  <style>
  /* note: this is a hack for ios iframe for bootstrap themes shopify page */
  /* this chunk of css is not part of the toolkit :) */
  body {
    width: 1px;
    min-width: 100%;
    *width: 100%;
  }
  </style>
</head>

<body class="with-top-navbar">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand navbar-brand-emphasized" href="../index.html">
          <span class="icon icon-cloud navbar-brand-icon"></span>
          Cloud Elements
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="/index.html">Home</a>
          </li>
          <li>
            <a href="/docs/elements.html">
              Docs
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="jumbotron">
    <div class="container text-xs-center p-a-lg">
      <h2>Cloud Elements Developer Portal</h2>
      <p>You build the killer app, we'll take care of the REST.</p>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row text-xs-center p-a-lg">
      <div class="col-md-4">
        <a href="/docs/elements.html">
          <h3>Element Guides</h3>
          <img class="center-block img-icon" src="/assets/img/guides-icon.png" alt="Cloud Elements Documentation" />
        </a>
        <p>
          Get up and running with our Elements
          <br>
          i.e. <strong>Salesforce, HubSpot, QuickBooks</strong>
        </p>
      </div>
      <div class="col-md-4">
        <a href="/docs/products/api-toolkit.html">
          <h3>API Toolkit</h3>
          <img class="center-block img-icon" src="/assets/img/api-toolkit-icon.png" alt="Cloud Elements API Toolkit" />
        </a>
        <p>
          Want to build your own integrations?
          <br>
          Learn how to build Elements, create Formulas, map and move data.
        </p>
      </div>
      <div class="col-md-4">
        <a href="/docs/on-prem/index.html">
          <h3>On Prem Deployment</h3>
          <img class="center-block img-icon" src="/assets/img/on-prem-icon.png" alt="Cloud Elements API Toolkit" />
        </a>
        <p>
          Deploying on prem?
          <br>
          View documentation to get you up and running quickly
        </p>
      </div>
    </div>
  </div>
  <div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">
      <div class="navbar-text">
        <p>© Copyright 2015 Cloud Elements Inc. All rights reserved. Various trademarks held by their respective owners. | 3001 Brighton Blvd. Suite #653, Denver, CO 80216 United States</p>
      </div>
    </div>
  </div>
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/chart.js"></script>
  <script src="/assets/js/tablesorter.min.js"></script>
  <script src="/assets/js/toolkit.js"></script>
  <script src="/assets/js/application.js"></script>
  <script>
  // execute/clear BS loaders for docs
  $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
  </script>
</body>
</html>
