
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cloud Elements Developers</title>
<link rel="shortcut icon" href="https://developers.coinbase.com/images/favicon.ico" type="image/x-icon"/>
<link href="https://developers.coinbase.com/stylesheets/base.css" rel="stylesheet" type="text/css"/>

<meta property="og:title" content="Coinbase Developers"/>
<meta property="og:url" content="/"/>
<meta property="og:description" content="Bitcoin infrastructure for developers"/>
<meta property="og:image" content="https://developers.coinbase.com/images/coinbase.png"/>
<meta property="og:type" content="website"/>


<meta name="twitter:title" content="Coinbase Developers"/>
<meta name="twitter:url" content="/"/>
<meta name="twitter:card" content="Bitcoin infrastructure for developers"/>
<meta name="twitter:image" content="https://developers.coinbase.com/images/coinbase.png"/>

</head>
<body>
<div class="navbar-container">
<nav class="navbar">
<a class="logo-container" href="/"><div class="logo"></div></a>
<ul>
<li><a href="#">Features<b class="caret"></b></a>
<ul>
<li><a href="/docs/merchants">Elements</a></li>
<li><a href="/docs/blockchain">Elements Mapper</a></li>
<li><a href="/docs/blockchain">Elements Loader</a></li>
<li><a href="/docs/exchange">Elements On-Prem</a></li>
</ul>
</li>
<li><a href="#">Support<b class="caret"></b></a>
<ul>
<li><a href="https://community.coinbase.com/c/developers" target="_blank">Forum</a></li>
<li><a href="http://stackoverflow.com/questions/tagged/coinbase" target="_blank">Stack Overflow</a></li>
</ul>
</li>
<li><a href="/blog">Blog</a></li>
<li><a href="/api/v2">API Reference</a></li>
<li><a href="https://www.coinbase.com/settings/api">My Apps</a></li>
<li><a href="/bithack">Bithack</a></li>
</ul>
</nav>
</div>
<div class="page-container">
<section class="hero">
<div class="hero-content">
<div class="hero-title">
<h1>Cloud Elements Developer Platform</h1>
<p>You build the killer app. We'll take care of the REST.</p>
<div class="newsletter">
<form action="https://coinbase.us5.list-manage.com/subscribe/post?u=5b98f517486d1f7d44c14371a&amp;id=3ab22366bf" method="POST" class="form form--complex">
<input class="form__text_input form__object--fillspace" placeholder="Subscribe for email updates" type="email" name="EMAIL">
<input class="form__object--fillspace-gap btn btn--primary btn--large" type="submit" value="Subscribe">
</form>
</div>
</div>
<div class="products">
<a href="/docs/wallet" class="product wallet">
<h3>Getting Started</h3>
<span class="line"></span>
<p>Store bitcoin securely</p>
</a>
<a href="/docs/merchants" class="product merchant">
<h3>Platform</h3>
<p>Accept bitcoin payments today</p>
</a>
<a href="/docs/exchange" class="product exchange">
<h3>Elements</h3>
<p>Trade with confidence</p>
</a>
<a href="/docs/blockchain" class="product blockchain">
<h3>Hubs</h3>
<p>Access raw blockchain data</p>
</a>
</div>
<div class="products">
<a href="/docs/wallet" class="product merchant">
<h3>On-Prem</h3>
<span class="line"></span>
<p>Store bitcoin securely</p>
</a>
<a href="/docs/merchants" class="product blockchain">
<h3>Mapper</h3>
<p>Accept bitcoin payments today</p>
</a>
<a href="/docs/exchange" class="product merchant">
<h3>Loader</h3>
<p>Trade with confidence</p>
</a>
<a href="/docs/blockchain" class="product wallet">
<h3>Forumlas</h3>
<p>Access raw blockchain data</p>
</a>
</div>
</div>
</section>
<div class="news">
<a href="/blog"><span class="icon">NEW</span><p>Coinbase Sandbox improvements – <strong>Read more ›</strong></p>
</a>
</div>
<section class="features">
<div class="feature-title">
<h1>Why build with Coinbase?</h1>
</div>
<div class="feature-list">
<div class="feature">
<div class="icon-container">
<span class="icon users"></span>
</div>
<div class="feature-description">
<h3>OAuth Into Millions Of Wallets</h3>
<p>Coinbase is the largest provider of bitcoin wallets - those customers can install your app with just a few clicks.</p>
</div>
</div>
<div class="feature">
<div class="icon-container">
<span class="icon security"></span>
</div>
<div class="feature-description">
<h3>Battle Tested Bitcoin Storage</h3>
<p>Storing bitcoin securely is no easy task - why re-create it from scratch? Our wallet and multisig vault are battle tested.</p>
</div>
</div>
<div class="feature">
<div class="icon-container">
<span class="icon countries"></span>
</div>
<div class="feature-description">
<h3>Buy/Sell Capability In 26 Countries</h3>
<p>Use our bank relationships across multiple countries to let your customers exchange their bitcoin.</p>
</div>
</div>
<div class="feature">
<div class="icon-container">
<span class="icon community"></span>
</div>
<div class="feature-description">
<h3>The Most Popular Bitcoin API</h3>
<p>With over 7000 developer applications created, Coinbase is the largest bitcoin platform in the world.</p>
</div>
</div>
</div>
</section>
<section class="banner">
<h2>Build with Coinbase</h2>
<a href="https://www.coinbase.com/settings/api"><div class="button">Get started</div></a>
</section>
<footer>
<div class="footer-content">
<ul>
<li><a href="/">Home</a></li>
<li><a href="/docs/wallet">Features</a></li>
<li><a href="/blog">Blog</a></li>
<li><a href="https://community.coinbase.com/c/developers" target="_blank">Forum</a></li>
<li><a href="http://stackoverflow.com/questions/tagged/coinbase" target="_blank">Stack Overflow</a></li>
<li><a href="/api/v2">API Reference</a></li>
</ul>
<div class="newsletter" id="subscribe">
<form action="https://coinbase.us5.list-manage.com/subscribe/post?u=5b98f517486d1f7d44c14371a&amp;id=3ab22366bf" method="POST" class="form form--complex">
<input class="form__text_input form__object--fillspace" placeholder="Subscribe for email updates" type="email" name="EMAIL">
<input class="form__object--fillspace-gap btn btn--primary btn--large" type="submit" value="Subscribe">
</form>
</div>
</div>
</footer>
</div>
</body>
</html>
