<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <title>Cloud Elements Developer Portal</title>
  <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
  <link href="/assets/css/toolkit-light.css" rel="stylesheet">
  <link href="/assets/css/docs.css" rel="stylesheet">
  <link href="/assets/css/application.css" rel="stylesheet">
  <link href="/assets/css/custom-styles.css" rel="stylesheet">
  <style>
  /* note: this is a hack for ios iframe for bootstrap themes shopify page */
  /* this chunk of css is not part of the toolkit :) */
  body {
    width: 1px;
    min-width: 100%;
    *width: 100%;
  }
  </style>
</head>

<body class="with-top-navbar">
  <nav class="nav navbar navbar-light navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a id="logo" class="navbar-brand navbar-brand-emphasized" href="../index.html">
          <img src="/assets/img/cloud-elements-logo.png" alt="Cloud Elements Logo" />
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="/index.html">HOME</a>
          </li>
          <li>
            <a href="/docs/elements.html">
              DOCS
            </a>
          </li>
          <li>
            <a href="/docs/products/api-toolkit.html">
              API TOOLKIT
            </a>
          </li>
          <li>
            <button type="button" class="btn btn-lg btn-danger try-it">Try it For Free!</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="jumbotron">
    <div class="container text-xs-center p-a-lg title">
      <h2>Cloud Elements Developer Portal</h2>
      <p>You build the killer app, we'll take care of the REST.</p>
      <div class="col-md-6 col-md-offset-3">
        <div class="flextable">
          <div class="flextable-item flextable-primary">
            <input type="text" class="form-control" placeholder="Search Docs i.e. Salesforce">
          </div>
        <div class="flextable-item">
            <div class="btn-group">
              <button type="button" class="btn btn-default">
                <span class="icon icon-magnifying-glass"></span>
              </button>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row text-xs-center p-a-lg">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="icon-box-home" href="/docs/getstarted/index.html">
          <h4>Quick Start</h3>
          <img class="center-block" src="/assets/img/quick-start-icon.png" alt="Cloud Elements Quick Start" />
          <p>
            Find out Where to go First!
            <br>
            <strong>Get Familiar with the Platform</strong>
          </p>
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="icon-box-home" href="/docs/elements.html">
          <h4>Element Guides</h3>
          <img class="center-block" src="/assets/img/guides-icon.png" alt="Cloud Elements Documentation" />
          <p>
            Get up and running with our Elements
            <br>
            i.e. <strong>Salesforce, HubSpot</strong>
          </p>
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="icon-box-home" href="/docs/products/api-toolkit.html">
          <h4>API Toolkit</h3>
          <img class="center-block" src="/assets/img/api-toolkit-icon.png" alt="Cloud Elements API Toolkit" />
          <p>

            Learn how to build Elements, create Formulas, map and move data.
          </p>
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="icon-box-home" href="/docs/on-prem/index.html">
          <h4>Enterprise</h3>
          <img class="center-block" src="/assets/img/on-prem-icon.png" alt="Cloud Elements API Toolkit" />
          <p>
            Deploying on prem?
            <br>
            View documentation to get you up and running quickly
          </p>
        </a>
      </div>
    </div>
  </div>
  <div class="navbar navbar-default footer-navbar" role="navigation">
    <div class="footer-wrapper">
      <div class="footer-content">
        <ul class="col-md-3">
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
        </ul>
        <ul class="col-md-3">
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
        </ul>
        <ul class="col-md-3">
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
        </ul>
        <ul class="col-md-3">
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
        </ul>
      </div>
    </div>
    <div class="sub-footer">
      <div class="navbar-text">
        <p>© Copyright 2015 Cloud Elements Inc. All rights reserved. Various trademarks held by their respective owners. | 3001 Brighton Blvd. Suite #653, Denver, CO 80216 United States</p>
      </div>
    </div>
  </div>  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/chart.js"></script>
  <script src="/assets/js/tablesorter.min.js"></script>
  <script src="/assets/js/toolkit.js"></script>
  <script src="/assets/js/application.js"></script>
  <script>
  // execute/clear BS loaders for docs
  $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
  </script>
</body>
</html>
