{% assign path = page.path | split:"/" %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <title>{{page.title}}</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
  <link href="/assets/css/toolkit-light.css" rel="stylesheet">
  <link href="/assets/css/docs.css" rel="stylesheet">
  <link href="/assets/css/application.css" rel="stylesheet">
  <link href="/assets/css/custom-styles.css" rel="stylesheet">
  <style>
    body {
      width: 1px;
      min-width: 100%;
      *width: 100%;
    }
  </style>
</head>
<body class="with-top-navbar">
  {% include nav.html %}
  <div class="docs-header" id="content">
    <div class="container">
      <h1>{{page.heading}}</h1>
      <p class="p-t">{{page.description}}</p>
      {% if page.breadcrumbs %}
        <a href="{{ page.breadcrumbs }}"><i class="fa fa-arrow-circle-left"></i> {{ page.parent }}</a>
      {% endif %}

      {% if page.swagger %}
        <a href="{{ page.swagger }}"><i class="fa fa-arrow-circle-left"></i> {{ page.parent }}</a>
      {% endif %}
    </div>
  </div>
  <div class="container docs-content">
    <!-- <h1 id="contents">Contents</h1> -->
    <!-- Sub Nav -->
    <ul id="markdown-toc">
      <li><strong>{{ page.heading }} Docs</strong></li>
      {% assign sorted = site.pages | sort:"order" %}
      {% for p in sorted %}
        {% assign pPath = p.path | split:"/" %}
        {% assign pPathMinusFileName = pPath | pop | join:"/" %}
        {% assign pathMinusFileName = path | pop | join:"/" %}
        {% assign pathMinusFileNameMinusParentDirectory = path | pop | pop | join:"/" %}
        {% assign pElementName = pPath | pop | last %}
        {% assign elementName = page.url | split:"#" | last %}
        {% if pathMinusFileName == pPathMinusFileName || elementName == pElementName %}
            {% if page.url == p.url %}
              <li class="active actived">
            {% else %}
              <li>
            {% endif %}
            <a href="{{ p.url }}">{{ p.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    <!-- END Sub Nav -->

    {{content}}
  </div>
  {% include footer.html %}
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/chart.js"></script>
  <script src="/assets/js/tablesorter.min.js"></script>
  <script src="/assets/js/toolkit.js"></script>
  <script src="/assets/js/application.js"></script>
  <script>
    $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
  </script>
</body>
</html>
