
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{page.title}}</title>
<link rel="shortcut icon" href="https://developers.coinbase.com/images/favicon.ico" type="image/x-icon"/>
<link href="https://developers.coinbase.com/stylesheets/base.css" rel="stylesheet" type="text/css"/>
<link href="https://developers.coinbase.com/stylesheets/docs.css" rel="stylesheet" type="text/css"/>
<link href="https://developers.coinbase.com/stylesheets/syntax.css" rel="stylesheet" type="text/css"/>

<meta property="og:title" content="Merchant API"/>
<meta property="og:url" content="/docs/merchants/"/>
<meta property="og:description" content=""/>
<meta property="og:image" content="https://developers.coinbase.com/images/coinbase.png"/>
<meta property="og:type" content="website"/>


<meta name="twitter:title" content="Merchant API"/>
<meta name="twitter:url" content="/docs/merchants/"/>
<meta name="twitter:card" content=""/>
<meta name="twitter:image" content="https://developers.coinbase.com/images/coinbase.png"/>

</head>
<body class="">
<div class="navbar-container">
<nav class="navbar">
<a class="logo-container" href="/"><div class="logo"></div></a>
<ul>
<li><a href="#">Features<b class="caret"></b></a>
<ul>
<li><a href="/docs/wallet">Wallet API</a></li>
<li><a href="/docs/merchants">Merchant API</a></li>
<li><a href="/docs/exchange">Exchange API</a></li>
<li><a href="/docs/blockchain">Blockchain API</a></li>
</ul>
</li>
<li><a href="#">Support<b class="caret"></b></a>
<ul>
<li><a href="https://community.coinbase.com/c/developers" target="_blank">Forum</a></li>
<li><a href="http://stackoverflow.com/questions/tagged/coinbase" target="_blank">Stack Overflow</a></li>
</ul>
</li>
<li><a href="/blog">Blog</a></li>
<li><a href="/api/v2">API Reference</a></li>
<li><a href="https://www.coinbase.com/settings/api">My Apps</a></li>
<li><a href="/bithack">Bithack</a></li>
</ul>
</nav>
</div>
<div class="page-container">
<section class="intro-docs">
<div class="intro-content-container">
<div class="intro-title">
<h1>{{page.title}}</h1>
<p>{{page.description}}</p>
</div>
<div class="intro-image merchants"></div>
</div>
</section>
<div class="sub-nav">
<ul>
{% for p in site.pages %}
  {% if page.categories contains 'onprem' %}
    <li>
      <a href="{{ p.url }}">{{ p.title }}</a>
    </li>
  {% endif %}
{% endfor %}
</ul>
</div>
<div class="docs">
<div class="docs-wrapper">
<div class="section-nav">
<ul>
<li><a class='active expanded' href="/docs/on-prem/">Getting Started</a></li>
<li><a class='' href="/docs/on-prem/command-line.html">Command-line Layer</a></li>
<li><a class='' href="/docs/on-prem/ansible.html">Ansible Layer</a></li>
<li><a class='' href="/docs/on-prem/server.html">Server Layer</a></li>
</ul>
</div>
<div class="docs-content">
{{content}}
</div>
<footer>
<div class="footer-content">
<ul>
<li><a href="/">Home</a></li>
<li><a href="/docs/wallet">Features</a></li>
<li><a href="/blog">Blog</a></li>
<li><a href="https://community.coinbase.com/c/developers" target="_blank">Forum</a></li>
<li><a href="http://stackoverflow.com/questions/tagged/coinbase" target="_blank">Stack Overflow</a></li>
<li><a href="/api/v2">API Reference</a></li>
</ul>
<div class="newsletter" id="subscribe">
<form action="https://coinbase.us5.list-manage.com/subscribe/post?u=5b98f517486d1f7d44c14371a&amp;id=3ab22366bf" method="POST" class="form form--complex">
<input class="form__text_input form__object--fillspace" placeholder="Subscribe for email updates" type="email" name="EMAIL">
<input class="form__object--fillspace-gap btn btn--primary btn--large" type="submit" value="Subscribe">
</form>
</div>
</div>
</footer>
</div>
</body>
</html>
