<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <title>Cloud Elements API Toolkit</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
  <link href="/assets/css/toolkit-light.css" rel="stylesheet">
  <link href="/assets/css/docs.css" rel="stylesheet">
  <link href="/assets/css/application.css" rel="stylesheet">
  <link href="/assets/css/custom-styles.css" rel="stylesheet">
  <style>
  /* note: this is a hack for ios iframe for bootstrap themes shopify page */
  /* this chunk of css is not part of the toolkit :) */
  body {
    width: 1px;
    min-width: 100%;
    *width: 100%;
  }
  </style>
</head>


<body class="with-top-navbar">
  {% include nav.html %}
  <div class="jumbotron">
    <div class="container text-xs-center p-a-lg title">
    <h2>Cloud Elements <span>API Toolkit</span></h2>
    <p>Need to build your own integration? <br> Find documentation on all of the tools needed to get started.</p>
  </div>
  </div>
  <div class="container-fluid">
    <div class="row text-xs-center p-a-lg">
      <h3 class="p-b">Extend Capabilities With Our API Integration Toolkit</h3>
      <p class="m-l m-r p-b p-r p-l">
        Each of our API integrations start with a normalized set of features, including authentication, paging, errors, events and search. If you need more customization, our comprehensive Integration Toolkit enables you to extend the capabilities of our integrations by building new Elements, publishing new resources, mapping and transforming data, and orchestrating workflows.
      </p>
      <div class="col-lg-3 col-md-4 col-sm-3 col-xs-12 p-b">
        <a class="api-toolkit-icon" href="/docs/products/element-builder/index.html">
          <h4>Element Builder</h4>
          <img class="center-block img-icon" src="/assets/img/element-builder-icon.png" alt="Cloud Elements Element Builder" />
          <p>
            Get up and running with building your own integrations
          </p>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3 col-xs-12 p-b">
        <a class="api-toolkit-icon" href="/docs/products/element-mapper/index.html">
          <h4>Element Mapper</h4>
          <img class="center-block img-icon" src="/assets/img/element-mapper-icon.png" alt="Cloud Elements Element Mapper" />
          <p>
            Learn how to map and transfer data from different cloud services.
          </p>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3 col-xs-12 p-b">
        <a class="api-toolkit-icon" href="/docs/products/formulas/index.html">
          <h4>Formulas</h4>
          <img class="center-block img-icon" src="/assets/img/formulas-icon.png" alt="Cloud Elements Formulas" />
          <p>
            Learn how to sync objects and create formulas between cloud services.
          </p>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3 col-xs-12 p-b">
        <a class="api-toolkit-icon" href="/docs/products/ground-2-cloud/index.html">
          <h4>Ground2Cloud</h4>
          <img class="center-block img-icon" src="/assets/img/ground-2-cloud-icon.png" alt="Cloud Elements API Integration Platform" />
          <p>
            Learn how to connect your on-prem app i.e. QuickBooks to Cloud Elements.
          </p>
        </a>
      </div>
    </div>
  </div>
  <div class="container-fluid text-xs-center">
    {{content | column}}

    <a class="docs-top" style="display: none" href="#">Back to top</a>
  </div>
  {% include footer.html %}
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/chart.js"></script>
  <script src="/assets/js/tablesorter.min.js"></script>
  <script src="/assets/js/toolkit.js"></script>
  <script src="/assets/js/application.js"></script>
  {% include google_analytics.html %}
  <script>
  // execute/clear BS loaders for docs
  $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
  </script>
</body>
</html>
