{% assign id = page.path | shard_id %}
{% assign shard = site.shards[id] | sort:"order" %}

<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/history.js/1.8/bundled-uncompressed/html4+html5/jquery.history.js"></script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="description" content="Cloud Elements is an API Integration Platform built for application developers and API publishers">
  <meta name="keywords" content="Cloud Elements, API Documentation, API Integration Platform, API Integration, API Management, Integration Tools">
  <meta name="author" content="Cloud Elements">
  <meta name="google-site-verification" content="RCqiEIyEbmcYtLZRYMOejbAaMr4EhW9jkorS6AbdJ_k" />
  <title>Developer Portal | Cloud Elements</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
  <link href="/assets/css/toolkit-light.css" rel="stylesheet">
  <link href="/assets/css/docs.css" rel="stylesheet">
  <link href="/assets/css/application.css" rel="stylesheet">
  <link href="/assets/css/custom-styles.css" rel="stylesheet">
  <link href="/assets/css/elementTiles.css" rel="stylesheet">
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">

  {% include favicon.html %}
  <style>
  /* note: this is a hack for ios iframe for bootstrap themes shopify page */
  /* this chunk of css is not part of the toolkit :) */
  body {
    width: 1px;
    min-width: 100%;
    *width: 100%;
  }
  </style>
</head>

<body class="with-top-navbar">
  {% include nav.html %}

  <div class="container-fluid pageContainer">
    <div class="col-md-3 sidebar">
    {% include sidebar.html %}
    </div>
    <div class="col-md-9 contentWrapper">
      <div class="container-fluid">
        {% include filter.html %}
        <div class="elementTileWrapper">
          {{content | column}}
        </div>
        <a class="docs-top" style="display: none" href="#">Back to top</a>
      </div>
      <script src="/assets/js/chart.js"></script>
      <script src="/assets/js/tablesorter.min.js"></script>
      <script src="/assets/js/toolkit.js"></script>
      <script src="/assets/js/application.js"></script>
      <script src="/assets/js/filter.js"></script>
    </div>
  </div>

  <script src="/assets/js/ajaxLoading.js"></script>
  {% include google_analytics.html %}
  {% include hubspot-tracking.html %}
  {% include engagio-tracking.html %}
  <script>
  // execute/clear BS loaders for docs
  $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
  </script>
</body>
</html>
